@use "../components/" as c;

.checkout {
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: c.$titleFont;
  width: 100%;

  &__header {
    font-size: 25px;
  }

  &__container {
    width: 60%;

    &__input {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 5px;

      @include c.xSmall {
        width: 85%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }

      @include c.small {
        width: 70%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }

      @include c.medium {
        width: 55%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }

      @include c.large {
        width: 50%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }

      @include c.xLarge {
        width: 50%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }

      @include c.xxLarge {
        width: 50%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
  }

  &__button {
    background-color: #5c7e96;
    color: white;
    width: 80px;
    height: 30px;
    font-family: c.$primaryFont;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 0px 10px rgba(151, 149, 149, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
    cursor: pointer;
  }
}
